@page
@model PoeAgriEnergyConnect.Pages.Farmers.ProductListModel
@{
    ViewData["Title"] = "Product List";
}

<h2>@ViewData["Title"]</h2>



<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Production Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.ProductionDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="/Farmers/AddProduct" class="btn btn-secondary mb-3">Back</a>
